services:
  express-app:
    image: kellylino/express-app:latest
    container_name: express-app
    ports:
      - "3000:8080"
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
